<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>&lt;key&gt;NSExtensionActivationRule&lt;/key&gt;
&lt;dict&gt;
  &lt;key&gt;NSExtensionActivationSupportsAttachmentsWithMinCount&lt;/key&gt;
  &lt;integer&gt;1&lt;/integer&gt;
  &lt;key&gt;NSExtensionActivationSupportsAttachmentsWithMaxCount&lt;/key&gt;
  &lt;integer&gt;1&lt;/integer&gt;
  &lt;key&gt;NSExtensionActivationSupportsAttachmentsWithTypes&lt;/key&gt;
  &lt;array&gt;
    &lt;string&gt;public.data&lt;/string&gt;
  &lt;/array&gt;
&lt;/dict&gt;
</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
</dict>
</plist>
